<html>
  <head>
    <title>SN Integrator Connection</title>
    <meta name="decorator" content="atl.admin">
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-form-validation")
    <!-- $webResourceManager.requireResource("com.jira.plugin.snIntegrationPlugin:snIntegrationPlugin-resources")  -->
  </head>
  <body>
     <form id="addConnectionForm" class="aui" method="POST">
		
	<!-- Add connection Form -->
<<<<<<< HEAD
<<<<<<< HEAD
	
	    <div class="aui-tabs horizontal-tabs">
		    
		    <h3 class="formtitle" style="color:'#327aef'">Add ServiceNow Connection</h3>
			
			<div class="field-group">
			    <label for="SNC_NAME">SNC Name<span class="aui-icon icon-required"></label>
				<input type="text medium-long-field" id="SNC_NAME" name="SNC_NAME" class="text" value="" data-aui-validation-field required="required">
			</div>

			<div class="field-group">
			    <label for="SNC_APPLINKURL">Application Link<span class="aui-icon icon-required"></label>
			     <select id="SNC_APPLINKURL" name="SNC_APPLINKURL" class="select"  data-aui-validation-field  required="required">
			          <option selected="selected" selected disabled>Select Application link</option>
			     </select>
			</div>
			<input type="hidden" id="SNC_URL" name="SNC_URL" class="text">
			<input type="hidden" id="SNC_USERNAME" name="SNC_USERNAME" class="text">
			<input type="hidden" id="SNC_PASSWORD" name="SNC_PASSWORD" class="text">
			<input type="hidden" id="SNC_AUTH_TYPE" name="SNC_AUTH_TYPE" class="text" value="BASIC">

			
			<div class="field-group">
			    <label for="interval_time">Scheduler Timing<span class="aui-icon icon-required"></label>
			    <input  class="text medium-field" type="text" name="interval_time" id="interval_time" value=""  data-aui-validation-field required pattern="^\d+$" data-aui-validation-pattern-msg="Please enter a valid Integer" minlength="1" maxlength="2">
			    <select class="text medium-field" class="form-control-text" name="interval_duration" id="interval_duration">
			        #if ($duration == "MINUTES")
			              <option selected="selected" value="MINUTES">MINUTES</option>
			              <option value="HOURS">HOURS</option>
			              <option value="DAYS">DAYS</option>
			        #elseif ($duration == "HOURS"))
			              <option value="MINUTES">MINUTES</option>
			              <option selected="selected" value="HOURS">HOURS</option>
			              <option value="DAYS">DAYS</option>
			        #elseif ($duration == "DAYS"))
			              <option value="MINUTES">MINUTES</option>
			              <option value="HOURS">HOURS</option>
			              <option selected="selected" value="DAYS">DAYS</option>
			        #else
			              <option value="MINUTES">MINUTES</option>
			              <option value="HOURS">HOURS</option>
			              <option value="DAYS">DAYS</option>
			        #end
			    </select>
			</div>

			<div class="field-group">
			    <input type="submit" name="action" value="Save Settings" class="aui-button aui-button-primary">
			    <input type="reset" name="reset" value="Reset" class="aui-button">
			</div>
		
		</div>

		</br>
		<table class="aui aui-table-rowhover" >
    		<thead>
        		<tr>
        			<th id="ACTION_title">Action</th>
		            <th id="SNC_ID_title">SNC ID</th>
		            <th id="SNC_NAME_title">SNC Name</th>
		            <th id="SNC_APP_LINK_title">SNC Application Link</th>
	    		</tr>
    		</thead>
    		<tbody>
        		<tr>
        			<td class="action" id="ACTION_header">
		                <ul class="menu">
		                    <li>
		                        <a href="#">Test</a>
		                    </li>
		                    <li>
		                    	<a href="#">Edit</a>
		                    </li>
		                    <li>
		                    	<a href="#">Delete</a>
		                    </li>
		                </ul>
		            </td>
		            <td id="SNC_ID_header">Default</td>
		            <td id="SNC_NAME_header"><input type="text" name="country" value="$SNC_NAME" readonly></td>
		            <td id="SNC_APP_LINK_header"><input type="text" name="country" value="$SNC_APPLINKURL" readonly></td>   
        		</tr>
        		
   			 </tbody>
		</table>
=======
		
=======


>>>>>>> 87ce2b5116eb881e9a3a388044d0a991f4879bea
		<div class="aui-tabs horizontal-tabs" id ="addablebtn">
			<h3 class="formtitle" style="color:'#327aef'">Please add the new connections in order to integrate the jira with servicenow instance</h3>
			</br>
			<div>
			<button class="aui-button aui-button-primary" id="add_new_connection_btn">Add New SNC Connection</button>
			</div>
			</br>
		</div>
>>>>>>> e9b08ed60122dfbc34b366a9828b0c89fb6d4464

	    <div class="aui-tabs horizontal-tabs" id ="addableForm">
		    <h3 class="formtitle" style="color:'#327aef'">Add ServiceNow Connection</h3>
			
			<div class="field-group">
			    <label for="SNC_NAME">SNC Name<span class="aui-icon icon-required"></label>
				<input type="text medium-long-field" id="SNC_NAME" name="SNC_NAME" class="text" value="" data-aui-validation-field required="required">
			</div>

<<<<<<< HEAD


=======
			<div class="field-group">
			    <label for="SNC_APPLINKURL">Application Link<span class="aui-icon icon-required"></label>
			     <select id="SNC_APPLINKURL" name="SNC_APPLINKURL" class="select"  data-aui-validation-field required="required">
			          <option selected disabled>Select Application link</option>
			     </select>
			</div>
			<input type="hidden" id="test_id" name="test_id" class="text">


			<input type="hidden" id="SNC_URL" name="SNC_URL" class="text">
			<input type="hidden" id="SNC_USERNAME" name="SNC_USERNAME" class="text">
			<input type="hidden" id="SNC_PASSWORD" name="SNC_PASSWORD" class="text">
			<input type="hidden" id="SNC_AUTH_TYPE" name="SNC_AUTH_TYPE" class="text" value="BASIC">

			
			<div class="field-group">
			    <label for="interval_time">Scheduler Timing<span class="aui-icon icon-required"></label>
			    <input  class="text medium-field" type="text" name="interval_time" id="interval_time" value=""  data-aui-validation-field required pattern="^\d+$" data-aui-validation-pattern-msg="Please enter a valid Integer" minlength="1" maxlength="2">
			    <select class="text medium-field" class="form-control-text" name="interval_duration" id="interval_duration">
			              <option selected disabled>Select Duration</option>
			              <option value="MINUTES">MINUTES</option>
			              <option value="HOURS">HOURS</option>
			              <option value="DAYS">DAYS</option>
			    </select>
			</div>

			<div class="field-group">
			    <input type="submit" name="action" value="Save Settings" class="aui-button aui-button-primary">
			    <input type="reset" name="reset" value="Reset" class="aui-button">
			    <button class="aui-button aui-button-warning" id="Discard_settings_btn">Discard Settings</button>
			</div>
			</br>
		</div>

		<div id="successmessage">
		<div id="spinner" class="spinner" style="display:none;">
	    	<img id="img-spinner" class="spinnerImage" src="/jira/download/resources/com.jira.plugin.snIntegrationPlugin:snIntegrationPlugin-resources/images/ajax-loader.gif" alt="Loading"/>
		</div>
		</div>
		<div id="listconnection">
		</div>

	     



>>>>>>> e9b08ed60122dfbc34b366a9828b0c89fb6d4464
  	</form>
  </body>
</html>

